@font-face {
  font-family: "iconfont"; /* Project id 4749786 */
  src: url('iconfont.woff2?t=1733820418710') format('woff2'),
       url('iconfont.woff?t=1733820418710') format('woff'),
       url('iconfont.ttf?t=1733820418710') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-zc"],
[class*=" icon-zc"]
{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zczhongyingwen:before {
  content: "\e69b";
}

.icon-zcdaishouhuo01:before {
  content: "\e642";
}

.icon-zcwangluo:before {
  content: "\e617";
}

.icon-zcshenjing:before {
  content: "\ec6f";
}

.icon-zcqiyewenhua:before {
  content: "\e66a";
}

.icon-zcliuchengtu:before {
  content: "\e609";
}

.icon-zctongji:before {
  content: "\e60a";
}

